*.cdl
*.lst
*.mlb
*.nes
*.deb
levels/output.asm
music/famitone/music.txt
music/famitone/music.asm
music/famitone/sfx.asm
music/famitone/sfx.nsf
music/famistudio/music.s
music/famistudio/sfx.s
.vscode/tasks.json
map.txt
*.dbg
*.o
music/famitone/sfx.s
music/famitone/music.s
\!local/*
