*.cdl
*.lst
*.mlb
*.nes
*.deb
music/famitone/music.txt
music/famitone/music.asm
music/famitone/sfx.asm
music/famitone/sfx.nsf
music/famistudio/music.s
music/famistudio/sfx.s
.vscode/tasks.json
map.txt
*.dbg
*.o
music/famitone/sfx.s
music/famitone/music.s
\!local/*
generatedCfg.cfg
build/output.txt
code/levels/tiled_engine/\!PROJECT.tiled-session
/code/levels/tiled_engine/asm_files/generated
code/levels/tiled_engine/tiled_assets/tsx/mtiles.png
